@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&family=Red+Hat+Text:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;

.font-redhat-display {
	font-family: "Red Hat Display", sans-serif;
}
.font-redhat-text {
	font-family: "Red Hat Text", sans-serif;
}
.full-screen {
	@apply flex flex-col w-full h-full min-w-full min-h-full;
}
.ws-scroll {
	overflow: auto;
	/* for Firefox */
	min-height: 0;
}
.ws-scroll::-webkit-scrollbar {
	background: transparent !important;
	@apply w-1 h-1;
}

.ws-scroll::-webkit-scrollbar-thumb {
	border-radius: 3px;
	@apply bg-gray-300;
}
.ws-scroll::-webkit-scrollbar-track {
	border-radius: 3px;
}
html,
body {
	@apply text-gray-900 bg-gray-200 font-redhat-display full-screen;
}
#root {
	@apply full-screen;
}

.ws-container-row {
	@apply flex flex-row justify-center w-full;
}
.ws-container-col {
	@apply flex flex-col justify-center h-full;
}
.ws-center-flex {
	@apply items-center justify-center ws-container-row;
}

.ws-center-container-row {
	@apply flex flex-row items-center justify-center w-full;
}
.ws-center-container-col {
	@apply flex flex-col items-center justify-center h-full;
}

/* Input Styles */
.ws-input__container {
	@apply flex flex-col my-2 font-redhat-text;
}
.ws-input {
	@apply p-2 my-2 mb-1 text-sm font-light text-gray-800 bg-gray-100 border border-gray-300 rounded-sm shadow-sm;
}

.ws-input[disabled] {
	@apply text-gray-500 bg-gray-300 border-gray-300 shadow-none;
}
[type="date"]::-webkit-calendar-picker-indicator {
	@apply text-xs text-gray-100 opacity-50 !important;
}
[type="date"] {
	/* Fixes the issue of incosistency of height between inputs */
	@apply pt-2 pb-2 my-2 mb-1 text-sm;
	padding-bottom: 6px;
}
[type="date"]::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none;
}
.ws-input__label {
	@apply text-sm font-medium text-gray-600;
}
.ws-input__error {
	@apply hidden text-xs font-medium text-red-600;
}
.ws-input__warning {
	@apply hidden text-xs font-medium text-orange-600;
}
.ws-input__help-message {
	@apply text-xs font-medium text-blue-400;
}
.ws-input__container > .ws-input__progress {
	margin-bottom: 1px;
	@apply absolute bottom-0 invisible;
}
.ws-input__container > .ws-input__progress > .indeterminate {
	@apply bg-gray-600;
}

.ws-input__help-message:empty,
.ws-input__label:empty,
.ws-input__error:empty,
.ws-input__warning:empty {
	@apply hidden;
}
.ws-input__container--has-value > .ws-input__help-message {
	@apply hidden;
}
/* Input normal conditions */
.ws-input__container > .ws-input__label {
}
.ws-input__container > .ws-input__error {
	@apply hidden font-medium text-red-600;
}
.ws-input__container > .ws-input__warning {
	@apply hidden font-medium text-orange-600;
}
/* Input error conditions */
.ws-input__container--error > .ws-input {
	@apply bg-red-100 border-red-300;
}
.ws-input__container--error > .ws-input__label {
	@apply text-red-800;
}
.ws-input__container--error > .ws-input__error {
	@apply block;
}
.ws-input__container--error > .ws-input__warning {
	@apply hidden;
}

/* Input Warning conditions */
.ws-input__container--warning > .ws-input {
	@apply bg-orange-100 border-orange-300;
}
.ws-input__container--warning > .ws-input__label {
	@apply text-orange-800;
}
.ws-input__container--warning > .ws-input__error {
	@apply hidden;
}
.ws-input__container--warning > .ws-input__warning {
	@apply block;
}

/* Input Loading conditins */
.ws-input__container--loading > .ws-input__progress {
	margin-bottom: 1px;
	@apply bottom-0 visible h-1;
}

/* Input Primary conditions */
.ws-input__container.bp3-intent-primary
	.ws-input__label
	.ws-input
	.ws-input__error
	.ws-input__warning
	.ws-input__helper {
	@apply text-blue-700 bg-blue-200 border-blue-400;
}
.ws-input__container.bp3-intent-warning
	.ws-input__label
	.ws-input
	.ws-input__error
	.ws-input__warning
	.ws-input__helper {
}
.ws-input__container.bp3-intent-danger
	.ws-input__label
	.ws-input
	.ws-input__error
	.ws-input__warning
	.ws-input__helper {
}

.ws-input:focus {
	@apply text-gray-800 bg-white border-gray-700 shadow-md;
}
/* Input Styles */
.ws-input__container {
	@apply flex flex-col my-2 font-redhat-text;
}
.ws-input {
	@apply p-2 my-2 text-base font-light text-gray-800 bg-gray-100 border border-gray-300 rounded-sm shadow-sm;
}
.ws-input[disabled] {
	@apply text-gray-500 bg-gray-300 border-gray-300 shadow-none;
}
.ws-input__label {
	@apply text-sm font-medium text-gray-600;
}
.ws-input__error {
	@apply hidden text-xs font-medium text-red-600;
}
.ws-input__progress {
	height: 2px;
	@apply -mt-2;
}
.ws-input__container--error > .ws-input {
	@apply bg-red-100 border-red-300;
}
.ws-input__container--error > .ws-input__error {
	@apply block;
}
.ws-input__container--flat-style,
.ws-input__container--flat-style > .ws-input:focus,
.ws-input__container--flat-style > .ws-input {
	@apply shadow-none;
}
.ws-side-menus {
	max-height: calc(100% - 5rem);
	@apply overflow-auto;
}
.ws-main-content {
	max-height: calc(100% - 6.5rem);
	@apply overflow-auto;
}
.ws-side-menu {
	@apply flex-col items-center justify-center py-2 my-3 bg-white rounded-md place-items-center;
}
.ws-side-menu:hover {
	@apply bg-blue-100;
}
.ws-side-menu.active {
	@apply font-medium bg-blue-100;
}
.ws-side-menu.active .ws-side-menu__icon {
	@apply bg-blue-200;
}

/* Workspace styles */
.ws-workspace-task__item {
	@apply flex-col py-2 my-3 border-2 border-white rounded-lg cursor-pointer;
}
.ws-workspace-task__item:hover {
	@apply border-gray-700;
}
.ws-workspace-task__item:active {
	@apply bg-gray-100 border-gray-200;
	transition: 0.2s ease all;
}
.ws-workspace-task__item.active,
.ws-workspace-task__item.active:hover,
.ws-workspace-task__item.active:active {
	@apply bg-white border-blue-700 shadow-md;
}

.ws-modal {
	transition: opacity 0.25s ease;
	@apply fixed top-0 left-0 flex items-center justify-center w-full h-full;
}
.ws-modal__overlay {
	opacity: 0.8;
	@apply absolute w-full h-full bg-gray-900;
}
.ws-modal__container {
	@apply z-50 w-11/12 mx-auto overflow-y-auto;
}
.ws-modal--active {
	z-index: 100;
	overflow-x: hidden;
	overflow-y: visible !important;
}

.ws-checkbox:checked + svg {
	display: block;
}

/* Progress Bar Styling starts here */
.ws-progress {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	opacity: 0;
	transition: 0.3s ease;
	@apply h-0 my-0 bg-gray-300;
}

.ws-progress.active {
	opacity: 1;
	transition: 0.3s ease;
	@apply h-1;
}
.ws-progress.active.small {
	opacity: 1;
	transition: 0.3s ease;
	@apply h-1;
}

.ws-progress.active.is-spaced-out {
	@apply my-6;
}

.ws-progress.active.is-spaced-out.small {
	@apply my-3;
}

.ws-progress.isSticky {
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	@apply my-0;
}

.ws-progress .indeterminate {
	@apply z-0 bg-gray-700;
}

.ws-progress .indeterminate:before {
	content: "";
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	will-change: left, right;
	-webkit-animation: indeterminate 3.15s cubic-bezier(0.65, 0.815, 0.735, 0.395)
		infinite;
	animation: indeterminate 3.15s cubic-bezier(0.65, 0.815, 0.735, 0.395)
		infinite;
}

.ws-progress .indeterminate:after {
	content: "";
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	will-change: left, right;
	-webkit-animation: indeterminate-short 3.15s
		cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	animation: indeterminate-short 3.15s cubic-bezier(0.165, 0.84, 0.44, 1)
		infinite;
	-webkit-animation-delay: 1.725s;
	animation-delay: 1.725s;
}

@-webkit-keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}

@keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}

@-webkit-keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}

@keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}
/* Progress Bar Styling end here */

/* Blueprint overrides */
/* Tables  */
.bp3-running-text table th,
table.bp3-html-table th,
.bp3-running-text table td,
table.bp3-html-table td {
	@apply p-3 text-base font-normal text-gray-700 align-middle;
}
.bp3-running-text table th,
table.bp3-html-table th {
	@apply font-medium text-gray-600;
}
tr {
	@apply transition-all duration-500;
}
thead > tr {
	@apply bg-gray-100;
}
.bp3-tab-list {
	@apply border-red-700 !important;
}

/* Toasts */
.bp3-portal {
	@apply pointer-events-none;
}
.bp3-overlay {
}
.bp3-toast.ws-toast {
	@apply flex flex-row items-baseline justify-center border border-gray-300 rounded-md shadow-2xl cursor-pointer;
}
.bp3-toast.ws-toast > .bp3-icon {
	@apply mx-3 my-auto text-gray-800;
}
.bp3-toast.ws-toast > .bp3-toast-message {
	@apply p-3 px-0 font-medium text-gray-700 font-redhat-text;
}
.bp3-toast.ws-toast > .bp3-button-group {
	@apply mx-2 my-auto text-gray-400 rounded-md;
}
.bp3-toast.ws-toast > .bp3-button-group > .bp3-button:hover {
	@apply bg-gray-300;
}
.bp3-toast.ws-toast.ws-toast--active {
	@apply bg-blue-100;
}
.bp3-toast.ws-toast.ws-toast--active > .bp3-icon {
	@apply animate-ping;
}
.bp3-toast.ws-toast.ws-toast--success {
	@apply bg-green-100;
}
.bp3-toast.ws-toast.ws-toast--success > .bp3-icon {
	@apply text-green-500;
}
.bp3-toast.ws-toast.ws-toast--error {
	@apply bg-red-100;
}
.bp3-toast.ws-toast.ws-toast--error > .bp3-icon {
	@apply text-red-500;
}
.bp3-toast.ws-toast.ws-toast--idle {
	@apply bg-gray-100;
}

/* Apps own styles */
.task-template-tag-selector {
	@apply shadow-sm;
}
.task-template-tag-selector:focus-within {
	@apply bg-white border border-gray-700 shadow-md;
}
@tailwind utilities;
